assignments/02-workflow-orchestration/flows/01_02_log_size_file_name.yml
id: assignment_02
namespace: juashyam.zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select texi type
    values: [yellow, green]
    defaults: green
  
  - id: year
    type: SELECT
    displayName: Select year
    values: ["2021", "2020", "2019"]
    defaults: "2019"
  
  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"
  size: "{{outputs.stats_size.size}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  - id: stats_size
    type: "io.kestra.plugin.core.storage.Size"
    uri: "{{render(vars.data)}}"

  - id: stats_size_mb
    type: io.kestra.plugin.core.log.Log
    message: "File: {{render(vars.file)}} | Size (MiB): {{(render(vars.size) | number) / 1024 / 1024}}"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.